<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5QKTBN8qpI8drLbUsJWMHmpJceffr9qY</string>
	<key>GCM_SENDER_ID</key>
	<string>928583296119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tp-flutter-firebase-3b10d</string>
	<key>STORAGE_BUCKET</key>
	<string>tp-flutter-firebase-3b10d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928583296119:ios:1a8a85b371883081e25272</string>
</dict>
</plist>